img.cand {
    border-radius: 10px;
}

label > input {
    visibility: hidden;
    position: absolute;
}

label > input + img{
    cursor: default;
    border: 2px solid transparent;
}

label > input:checked + img{
    border-color: #034831;
    border-width: 4px
}

h5 {
    font-family: Open Sans Light;
}

h3 {
    font-family: Open Sans;
}

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Open Sans Light";src:url("../font/OpenSans-Light.eot?") format("eot"),url("../font/OpenSans-Light.woff") format("woff"),url("../font/OpenSans-Light.ttf") format("truetype"),url("../font/OpenSans-Light.svg#OpenSans-Light") format("svg");font-weight:normal;font-style:normal;}

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {font-family:"Open Sans";src:url("../font/OpenSans-Regular.eot?") format("eot"),url("../font/OpenSans-Regular.woff") format("woff"),url("../font/OpenSans-Regular.ttf") format("truetype"),url("../font/OpenSans-Regular.svg#OpenSans") format("svg");font-weight:normal;font-style:normal;}

